[% BLOCK TITLE %]Аусвайс "[% aus.nick %]"[% END %]
[% BLOCK CONTENT %]
<h3>Аусвайс</h3>
<table class="tbl">
    <tr>
        <td rowspan="15" style="border:0; width:200px">
[% IF file_photo_size %]
<img width="200" alt="[% aus.nick %]" title="[% aus.nick %]" src="[% PREF ausweis/file: aus.id, file_photo %]" />
[% ELSE %]
<span style="color:red; text-weight:bold;">[ФОТО НЕТ]</span>
[% END %]
    <br />
        </td>
        <td class="ltitle">ШтрихКод:</td>
        <td><b>[% aus.numid %]</b></td>
    </tr>
    <tr>
        <td class="ltitle">Ник:</td>
        <td><b><big>[% aus.nick %]</big></b>[% BLOCK preedit: field = preedit_field.nick %][% IF field %]<br /><small><i><u>Модерация:</u> [% field.value %]</i><small>[% END %][% END %]</td>
    </tr>
    <tr>
        <td class="ltitle">Команда:</td>
        <td>
            <a title="Просмотр команды" alt="Просмотр команды" href="[% PREF command/info: cmd.id %]">[% cmd.name %]</a>
        </td>
    </tr>
    <tr>
        <td class="ltitle">Блок:</td>
        <td>
            [% IF blok %]<a title="Просмотр блока" alt="Просмотр блока" href="[% PREF blok/info: blok.id %]">[% blok.name %]</a>[% ELSE %]-[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Блокировка:</td>
        <td>[% IF aus.blocked %]<b>ЗАБЛОКИРОВАН</b>[% ELSE %]-[% END %][% BLOCKDUP preedit(preedit_field.blocked) %]</td>
    </tr>
    <tr>
        <td class="ltitle">ФИО:</td>
        <td>[% aus.fio %][% BLOCKDUP preedit(preedit_field.fio) %]</td>
    </tr>
    <tr>
        <td class="ltitle">Группа крови:</td>
        <td>[% aus.krov %][% BLOCKDUP preedit(preedit_field.krov) %]</td>
    </tr>
    <tr>
        <td class="ltitle">Аллергия:</td>
        <td>[% aus.allerg %][% BLOCKDUP preedit(preedit_field.allerg) %]</td>
    </tr>
    <tr>
        <td class="ltitle">Непереносимость:</td>
        <td>[% aus.neperenos %][% BLOCKDUP preedit(preedit_field.neperenos) %]</td>
    </tr>
    <tr>
        <td class="ltitle">Полис:</td>
        <td>[% aus.polis %][% BLOCKDUP preedit(preedit_field.polis) %]</td>
    </tr>
    <tr>
        <td class="ltitle">Медик:</td>
        <td>[% aus.medik %][% BLOCKDUP preedit(preedit_field.medik) %]</td>
    </tr>
    <tr>
        <td class="ltitle">Примечания:</td>
        <td>[% aus.comment %][% BLOCKDUP preedit(preedit_field.comment) %]</td>
    </tr>
    <tr>
        <td class="ltitle">Печать самостоятельная:</td>
        <td>
            <a href="[% aus.href_regen %]">Пересобрать</a>
            [% IF aus.regen > 0 %](в процессе: [% aus.regens %])[% END %]
            <br />
[% IF file_front_size || file_rear_size  %]
        [% IF file_front_size  %]
        <a target="_blank" href="[% PREF ausweis/file: aus.id, file_front %]">JPG (лицевая сторона)</a>
        [% END %]
        [% IF file_rear_size  %]
        | <a target="_blank" href="[% PREF ausweis/file: aus.id, file_rear %]">JPG (тыльная сторона)</a>
        [% END %]
[% END %]
[% IF file_pdf_size %]
        | <a target="_blank" href="[% PREF ausweis/file: aus.id, file_pdf %]">PDF</a>
[% END %]
        </td>
    </tr>
    <tr>
        <td class="submit" colspan="2">
            <a href="[% PREF ausweis/edit: aus.id %]">изменить</a>
        </td>
    </tr>
</table>

[% IF preedit_field.photo %]
<br />

<h3>Фото - Ожидание модерации</h3>
<img width="200" src="[% preedit_field.photo.href_file %]" />
<br />

[% END %]


<br />
<h3>Мероприятия, в которых участвовал аусвайс:</h3>
<table class="tbl">
    <tr class="title">
        <td width="200">Мероприятие</td>
        <td width="120">Дата/Время</td>
        <td>Особые отметки</td>
    </tr>
[% IF size(event_commited) > 0 %]
[% FOREACH ev = event_commited %]
    <tr>
        <td><a title="Просмотр" alt="Просмотр" href="[% event.href_info %]">[% ev.event.name %]</a></td>
        <td align="right">[% DATETIME ev.event.dtadd %]</td>
        <td>
        [% IF ev.cmdid != aus.cmdid %]
        В составе команды: [% ev.command.name %]
        [% END %]
        </td>
    </tr>
[% END %]
[% ELSE %]
    <tr><td colspan="5" style="height:50px;text-align:center;vertical-align:middle;">
        Этот аусвайс еще не был зарегистрирован ни на одном мероприятии
    </td></tr>
[% END %]
</table>

[% END %]
