[% BLOCK TITLE %]Аусвайс "[% aus.nick %]"[% END %]
[% BLOCK CONTENT %]
<h3>Аусвайс</h3>
<table class="tbl">
    <tr>
        <td rowspan="15" style="border:0; width:200px">
[% IF file_photo_size %]
<img width="200" alt="[% aus.nick %]" title="[% aus.nick %]" src="[% PREF ausweis/file: aus.id, file_photo %]" />
[% ELSE %]
<span style="color:red; text-weight:bold;">[ФОТО НЕТ]</span>
[% END %]
    <br />
        </td>
        <td class="ltitle">ШтрихКод:</td>
        <td><b>[% aus.numid %]</b></td>
    </tr>
    <tr>
        <td class="ltitle">Ник:</td>
        <td>
            <b><big>[% aus.nick %]</big></b>
            [% IF prefield.nick %]<br /><small><i><u>Модерация:</u> [% prefield.nick.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Команда:</td>
        <td>
            <a title="Просмотр команды" alt="Просмотр команды" href="[% PREF command/info: cmd.id %]">[% cmd.name %]</a>
        </td>
    </tr>
    <tr>
        <td class="ltitle">Блок:</td>
        <td>
            [% IF blok %]<a title="Просмотр блока" alt="Просмотр блока" href="[% PREF blok/info: blok.id %]">[% blok.name %]</a>[% ELSE %]-[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Блокировка:</td>
        <td>
            [% IF aus.blocked %]<b>ЗАБЛОКИРОВАН</b>[% ELSE %]-[% END %]
            [% IF prefield.blocked %]<br /><small><i><u>Модерация:</u> [% prefield.blocked.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">ФИО:</td>
        <td>
            [% aus.fio %]
            [% IF prefield.fio %]<br /><small><i><u>Модерация:</u> [% prefield.fio.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Группа крови:</td>
        <td>
            [% aus.krov %]
            [% IF prefield.krov %]<br /><small><i><u>Модерация:</u> [% prefield.krov.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Аллергия:</td>
        <td>
            [% aus.allerg %]
            [% IF prefield.allerg %]<br /><small><i><u>Модерация:</u> [% prefield.allerg.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Непереносимость:</td>
        <td>
            [% aus.neperenos %]
            [% IF prefield.neperenos %]<br /><small><i><u>Модерация:</u> [% prefield.neperenos.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Полис:</td>
        <td>
            [% aus.polis %]
            [% IF prefield.polis %]<br /><small><i><u>Модерация:</u> [% prefield.polis.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Медик:</td>
        <td>
            [% aus.medik %]
            [% IF prefield.medik %]<br /><small><i><u>Модерация:</u> [% prefield.medik.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Примечания:</td>
        <td>
            [% aus.comment %]
            [% IF prefield.comment %]<br /><small><i><u>Модерация:</u> [% prefield.comment.value %]</i><small>[% END %]
        </td>
    </tr>
    <tr>
        <td class="ltitle">Печать самостоятельная:</td>
        <td>
            <a href="[% PREF ausweis/regen: aus.id %]">Пересобрать</a>
            [% IF aus.regen > 0 %](в процессе: [% aus.regens %])[% END %]
            <br />
[% IF file_front_size || file_rear_size  %]
        [% IF file_front_size  %]
        <a target="_blank" href="[% PREF ausweis/file: aus.id, file_front %]">JPG (лицевая сторона)</a>
        [% END %]
        [% IF file_rear_size  %]
        | <a target="_blank" href="[% PREF ausweis/file: aus.id, file_rear %]">JPG (тыльная сторона)</a>
        [% END %]
[% END %]
[% IF file_pdf_size %]
        | <a target="_blank" href="[% PREF ausweis/file: aus.id, file_pdf %]">PDF</a>
[% END %]
        </td>
    </tr>
    <tr>
        <td class="submit" colspan="2">
            <a href="[% PREF ausweis/edit: aus.id %]">изменить</a>
        </td>
    </tr>
</table>

[% IF prefield.photo %]
<br />

<h3>Фото - Ожидание модерации</h3>
<!-- img width="200" src="[% prefield.photo.href_file %]" /-->
<br />

[% END %]


<br />
<h3>Мероприятия, в которых участвовал аусвайс:</h3>
<table class="tbl">
    <tr class="title">
        <td width="200">Мероприятие</td>
        <td width="120">Дата/Время</td>
        <td>Особые отметки</td>
    </tr>
[% IF size(event) > 0 %]
[% FOREACH ev = event %]
    <tr>
        <td>[% ev.name %]</td>
        <td align="right">[% DATETIME ev.dtadd %]</td>
        <td>
            [% IF ev.cmdid != aus.cmdid %]
            В составе команды: [% ev.command.name %]
            [% END %]
        </td>
    </tr>
[% END %]
[% ELSE %]
    <tr><td colspan="5" style="height:50px;text-align:center;vertical-align:middle;">
        Этот аусвайс еще не был зарегистрирован ни на одном мероприятии
    </td></tr>
[% END %]
</table>

[% END %]
