[% BLOCK TITLE %]Добавление нового блока[% END %]
[% BLOCK CONTENT %]
<form action="[% PREF blok/add %]" method="POST" enctype="multipart/form-data">
<h3>Блок</h3>
<table class="tbl">
    <tr>
        <td class="ltitle" style="width:250px">Название:[% INCLUDE ferr, e=ferr.name %]</td>
        <td><input type="text" name="name" class="stdin" value="[% form.name %]" /></td>
    </tr>
    <tr>
        <td class="ltitle">Загрузка логотипа:<br /><small>Логотип буден виден через несколько минут после загрузки</small></td>
        <td><input type="file" name="photo" class="stdin" /></td>
    </tr>
<tr>
    <td class="submit" colspan="2">
        <input type="submit" value="Добавить">
        <input type="button" value="Отмена" onClick="history.go(-1)">
    </td>
</tr>
</table>
</form>
[% END %]
