[% BLOCK TITLE %]Список блоков[% END %]
[% BLOCK CONTENT %]
    <!-- Поиск -->
    <h3>Поиск</h3>
    <form action="[% PREF blok %]">
    <table class="tbl">
        <tr>
            <td class="ltitle">Название:</td>
            <td><input type="text" class="stdin" id="search-txt" name="srch" value="[% srch %]" autocomplete="off" data-search-url="[% PREF blok/srch %]" /></td>
        </tr>
        <tr><td colspan="2" class="submit">
            <a href="[% PREF blok/adding %]">добавить</a>
        </td></tr>
    </table>
   </form>
    
    <div id="search-result">
    [% BLOCK result %]
    [% IF list %]
    <h3>Результаты</h3>
    <table class="tbl">
        <tr class="title">
            <td>Название</td>
            <td width="70">Команд</td>
        </tr>
    [% IF size(list) > 0 %]
    [% FOREACH bl = list %]
        <tr>
            <td><a title="Просмотр информации о блоке" alt="Просмотр информации о блоке" href="[% PREF blok/info: bl.id %]">[% bl.name %]</a></td>
            <td align="right">[% IF bl.cmdcount %]<a href="[% PREF command %][% IF qsrch.full %][% qsrch.full %]&[% ELSE %]?[% END %]blkid=[% bl.id %]">[% bl.cmdcount %]</a>[% END %]</td>
        </tr>
    [% END %]
    [% ELSE %]
        <tr><td colspan="2" style="height:50px;text-align:center;vertical-align:middle;">
            блоков не найдено
        </td></tr>
    [% END %]
    [% IF noblock_count > 0 %]
        <tr>
            <td>&lt;- без блока -&gt;</td>
            <td align="right"><a href="[% PREF command %][% IF qsrch.full %][% qsrch.full %]&[% ELSE %]?[% END %]blkid=-1">[% noblock_count %]</a></td>
        </tr>
    [% END %]
    </table>
    [% END %]
    [% END %]
    </div>
[% END %]
