[% BLOCK TITLE %]Список блоков[% END %]
[% BLOCK CONTENT %]
    <!-- Поиск -->
    <h3>Поиск</h3>
    <form action="[% PREF blok/list %]">
    <table class="tbl">
        <tr>
            <td class="ltitle">Название:</td>
            <td><input type="text" class="stdin" id="search-txt" name="srch" value="[% srch %]" autocomplete="off"></td>
        </tr>
        <tr><td colspan="2" class="submit">
            <a href="[% PREF blok/adding %]">добавить</a>
        </td></tr>
    </table>
   </form>
    
    <div id="search-result">
    [% BLOCK result %]
    [% IF list %]
    <h3>Результаты</h3>
    <table class="tbl">
        <tr class="title">
            <td>Название</td>
        </tr>
    [% IF size(list) > 0 %]
    [% FOREACH bl = list %]
        <tr>
            <td><a title="Просмотр информации о блоке" alt="Просмотр информации о блоке" href="[% PREF blok/info: bl.id %]">[% bl.name %]</a></td>
        </tr>
    [% END %]
    [% ELSE %]
        <tr><td colspan="2" style="height:50px;text-align:center;vertical-align:middle;">
            ничего не найдено
        </td></tr>
    [% END %]
    </table>
    [% END %]
    [% END %]
    </div>
[% END %]
