[% BLOCK TITLE %]Команда "[% cmd.name %]" - История изменений[% END %]
[% BLOCK CONTENT %]
<table class="tbl">
    <tr>
        <td class="ltitle">Команда:</td>
        <td><a href="[% PREF command/info: cmd.id %]"<b><big>[% cmd.name %]</big></b></a></td>
    </tr>
</table>

<br />

    <script type="text/javascript">
    <!--
        function fld_show(id) {
            var list = document.getElementsByTagName('div');
            for (var i=0; i<list.length; i++) {
                var e = list[i];
                if (e.id.match('^fld_[0-9]+')) 
                   e.style.display = 'none';
            }
            document.getElementById(id).style.display = 'inline';
        }
    //-->
    </script>

<h3>История</h3>
<table class="tbl">
[% FOREACH h = list %]
<tr>
    <td class="ltitle" style="width:250px">
        <a name="pre[% id %]"></a>
        [% IF h.op eq 'C' %]Добавление[% ELSIF h.op eq 'E' %]Редактирование[% ELSIF h.op eq 'D' %]Удаление[% END %]
        [% IF h.tbl eq 'Ausweis' %]аусвайса[% IF h.ausweis.id %] (<a href="[% PREF ausweis/info: h.ausweis.id %]">[% h.ausweis.numid %]</a>)[% END %][% END %]:<br />
        <small>[% DATETIME h.dtadd %]<br />
        [% h.user.login %][% IF h.ip %] [[% h.ip %]][% END %]<br /></small>
        [% IF h.modered > 0 %]<div style="color: green">+ [% h.comment %]</div>
        [% ELSIF h.modered < -1 %]<div style="color: red">Отменено пользователем</div>
        [% ELSIF h.modered < 0 %]<div style="color: red">Отклонено: [% comment %]</div>
        [% ELSE %]
            <div style="color: yellow"><i>ожидает модерации</i>
            [% IF h.allow_cancel %](<a href="[% PREF preedit/cancel: h.id %]">отменить</a>)[% END %]
            </div>[% END %]
    </td>
    <td>
    [% FOREACH f = h.field_list %]
        <a href="javascript: fld_show('fld_[% f.id %]');">[% f.param %]</a>
    [% END %]
        <br />
    [% FOREACH f = h.field_list %]
        <div id="fld_[% f.id %]" style="display:none; padding-left:20px;">
            <b>[% f.param %]</b><br />
            <small><u>Значение:</u> [% f.value %][% IF f.enold %]<br /><u>Старое:</u> [% f.old %][% END %]</small>
        </div>
    [% END %]
    </td>
</tr>
[% END # FOREACH list %]
</table>
[% END %]
