[% BLOCK TITLE %]Добавление новой команды[% END %]
[% BLOCK CONTENT %]
<form action="[% PREF command/add %]" method="POST" enctype="multipart/form-data">
<h3>Команда</h3>
<table class="tbl">
    <tr>
        <td class="ltitle" style="width:250px">Название:[% INCLUDE ferr, e=ferr.name %]</td>
        <td><input type="text" name="name" class="stdin" value="[% form.name %]" autocomplete="off" data-search-url="[% PREF command/srch %]" /></td>
    </tr>
    <tr>
        <td class="ltitle">Блок:                        [% INCLUDE ferr, e=ferr.blkid %]</td>
        <td>
            <select name="blkid" class="stdin">
                <option value="0"> &lt;- без блока -&gt; </option>
[% FOREACH blk = blok_list %]
                <option value="[% blk.id %]"[% IF form.blkid == blk.id %] selected[% END %]>[% blk.name %]</option>
[% END %]
            </select>
        </td>
    </tr>
    <tr>
        <td class="ltitle">Аккаунт (создать):           [% INCLUDE ferr, e=ferr.login %]</td>
        <td><input type="text"  class="stdin" name="login" value="[% form.login %]"></td>
    </tr>
    <tr>
        <td class="ltitle">Пароль (<a href="#" id="passGen">генер</a>):
                                                        [% INCLUDE ferr, e=ferr.pass %]</td>
        <td><input type="text" class="stdin" name="pass" id="passInp" value="[% form.pass %]"></td>
    </tr>
    <tr>
        <td class="ltitle">Загрузка логотипа:<br /><small>Логотип буден виден через несколько минут после загрузки</small></td>
        <td><input type="file" name="photo" class="stdin" /></td>
    </tr>
<tr>
    <td class="submit" colspan="2">
        <input type="submit" value="Добавить">
        <input type="button" value="Отмена" onClick="history.go(-1)">
    </td>
</tr>
</table>
</form>

    <div id="search-result"></div>
    
    <script>
                
        $(function(){
            'use strict';
            
            $('#passGen').click(function(e) {
                e.preventDefault();
                
                var pass    = '';
                var words   = '0123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM';
                var wlen    = words.length - 1;
                var plen    = 4 + Math.floor ( Math.random() * 3 );
                for( var i = 0; i < plen; ++i ) {
                    var n = Math.floor ( Math.random() * wlen );
                    pass = pass + words.substring(n, n + 1);
                }
                
                $('#passInp').val(pass);
            });
        });

    </script>
[% END %]
