[% BLOCK TITLE %]Прошедшие некомбатанты - "[% ev.name %]"[% END %]
[% BLOCK CONTENT %]
    <h3>Мероприятие</h3>
    <table class="tbl">
        <tr>
            <td class="ltitle">Название:</td>
            <td><a href="[% PREF event/info: ev.id %]"><b><big>[% ev.name %]</big></b></a></td>
        </tr>
        <tr>
            <td class="ltitle">Дополнительно:</td>
            <td>
                <a href="[% PREF event/info: ev.id %]">Инфо</a><br />
                <a href="[% PREF event/command: ev.id %]">Допущенные команды</a><br />
                <a href="[% PREF event/ausweis: ev.id %][% IF cmdid %]?cmdid=[% cmdid %][% END %]">Прошедшие аусвайсы</a>
            </td>
        </tr>
    </table>
    
    <br />
    <h3>Прошедшие некомбатанты (<a href="[% PREF event/necombat: ev.id %]?xls=1[% IF cmdid %]&cmdid=[% cmdid %][% END %]">xls</a>)</h3>
    <table class="tbl">
        <tr class="title">
            <td width="120">Дата/Время</td>
            <td width="250">Команда</td>
            <td>Имя</td>
        </tr>
    [% IF size(necombat_list) > 0 %]
    [% FOREACH nec = necombat_list %]
        <tr>
            <td align="right">[% DATETIME nec.event.dtadd %]</td>
            <td><a title="Просмотр команды" alt="Просмотр команды" href="[% PREF command/info: nec.command.id %]">[% nec.command.name %]</a></td>
            <td>[% nec.event.name %]</td>
        </tr>
    [% END %]
    [% ELSE %]
        <tr><td colspan="4" style="height:50px;text-align:center;vertical-align:middle;">
            нет прошедших некомбатантов
        </td></tr>
    [% END %]
    </table>
[% END %]
