<h3>Права</h3>
<table class="tbl">
[% FOREACH ritem = rights_list %]
    [% IF ritem %]
    <tr>
        <td class="ltitle" style="width:200px">[% ritem.1 %]</td>
        <td>[% rights_types.${admin_rights_list.${ritem.0}} %]</td>
    </tr>
    [% ELSE %]
    <tr><td colspan="2">&nbsp;</td></tr>
    [% END %]
[% END %]
<tr>
    <td class="submit" colspan="2">
        <a href="[% href_edit %]">изменить</a>
    </td>
</tr>
</table>

<br />
