<h3>Информация</h3>
<table class="tbl">
<tr>
    <td class="ltitle">Название группы:</td>
    <td width="200"><b>[% group.name %]</b></td>
</tr>
<tr>
    <td class="submit" colspan="2">
        <a href="[% group.href_edit %]">изменить</a>
    </td>
</tr>
</table>


[% INCLUDE 'admin_rights_info.tt' admin_rights_list = group.rights_list %]
    