<h3>Информация</h3>
<table class="tbl">
<tr>
    <td class="ltitle" style="width:250px">Название группы:</td>
    <td><b>[% group.name %]</b></td>
</tr>
<tr>
    <td class="submit" colspan="2">
        <a href="[% group.href_edit %]">изменить</a>
    </td>
</tr>
</table>

<br />

[% INCLUDE 'admin_rights_info.tt' admin_rights_list = group.rights_list, href_edit = group.href_edit %]
    