<form action="[% href_add %]" method="POST" enctype="multipart/form-data">
<input type="hidden" name="find" value="1" />
<input type="submit" value="Искать">
</form>

[% IF list %]
<table class="tbl">
[% IF list.size > 0 %]
    [% FOREACH list %]
    <tr>
        <td></td>
    </tr>
    [% END %]
[% ELSE %]
    <tr><td align="center">повторов не обнаружено</td></tr>
[% END %]
</table>
[% END %]