
<table class="tbl">
[% IF list %]
[% IF list.size > 0 %]
    [% FOREACH list %]
    <tr>
        <td></td>
    </tr>
    [% END %]
[% ELSE %]
    <tr><td align="center">повторов не обнаружено</td></tr>
[% END %]
[% END %]
    <tr>
        <td class="submit">
<form action="[% aus.href_find_repeat %]" method="POST">
<input type="hidden" name="find" value="1" />
<input type="submit" value="Искать">
</form>
        </td>
    </tr>
</table>