<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <link rel="stylesheet" type="text/css" href="http://airsoftclub.ru/css/styles.css" />
    <link href="/style.css" rel="stylesheet" type="text/css">
<!--[if IE]>
        <link rel="stylesheet" type="text/css" href="http://airsoftclub.ru/css/styles_ie.css" />
<![endif]-->
    <title>Airsoftclub.ru страйкбол :: [% IF IS_DEVEL %] [DEVELOPER][% END %]: АУСВАЙСЫ :: [% TITLE %]</title>
<body>


<table width="100%" height="100%" cellspacing="0" cellpadding="0">
<tr>
    <td colspan="2" class="head">

<!--div id="outer"-->
    <!-- div id="header">
    <div id="logo"><a href="http://airsoftclub.ru/"><img src="http://airsoftclub.ru/i2/logo.jpg" width="178" height="143" alt="#" border="0"></a></div>
    </div>

    <div class="clear"></div>
<!--/div-->

    [% IF IS_DEVEL %]
        <center>
        TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST
        </center>
    [% END %]


[% IF session_state.code %]
<!--  Статус выполненного -->
<script type="text/javascript">
<!--
    function msgClose() { document.getElementById('alert_msg').style.display = 'none'; }
//-->
</script>
[% IF session_state.code > 0 %]
    <div id="alert_msg" class="msg">
        <span class="text" id="alert_msg_text">ВЫПОЛНЕНО! ([% TIME %])<br />[% session_state.name %]</span>
        <a href="javascript:msgClose()">закрыть</a>
    </div>
[% ELSE %]
    <div id="alert_msg" class="err">
        <span class="text" id="alert_err_text">ОШИБКА! ([% TIME %])<br />[% session_state.name %]</span>
        <a href="javascript:msgClose()">закрыть</a>
    </div>
[% END %]
[% session_state.set_null %]
<!-- // Статус выполненной операции -->
[% END %]

    </td>
</tr>

[% IF authenticate.uid %]

<tr>
    <td width="200" valign="top" class="menu">

[% IF !denied %]
<!-- Авторизация -->
    <div class="auth">
[% IF authenticate.uid %]
    Вы вошли как: <b>[% authenticate.login %]</b><br />
    Группа: [% IF authenticate.group.id %][% authenticate.group.name %][% ELSE %]<i>(Без групппы)</i>[% END %]<br />
    <small>Ваш IP: [% authenticate.ip %]<br />
    [% TIME %] </small><br />
    <a href="[% authenticate.href_password_change_form %]">Изменить пароль</a>
    :: <a href="[% authenticate.href_logout %]">Выйти</a>
[% END %]
    </div>
    <br />
<!-- // Авторизация -->
[% END # IF !denied %]

[% IF authenticate.uid && !denied %]
                    <!-- Меню -->
[% FOREACH menu %]
    [% IF list.size > 0 %]
                    <!--  Блок-меню -->
                    <table width="198" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr><td><div class="menu_blok_title">[% title %]</div></td></tr>
                      <tr>
                        <td>
                            <div class="menu_blok_content">
        [% FOREACH list %]
            [% IF is_item %]<a href="[% href %]">[% text %]</a>[% END %]<br />
        [%- END %]
                            </div>
                        </td>
                      </tr>
                      <tr><td height="15">&nbsp;</td></tr>
                    </table>
                    <!-- // Блок-меню -->
    [% END %]
[% END %]
[% END # IF authenticate.uid && !denied %]

    </td>
    <td valign="top" class="content">
                    <!-- Заголовок -->
    <div class="title">[% IF IS_DEVEL %][DEVELOPER] [% END %][% TITLE %]</div>
                    <!-- Контент -->
[% IF subtemplate %][% INCLUDE $subtemplate %][% END %]
                    <!-- Конец контента -->
    <br />
    </td>
</tr>
[% ELSE # authenticate.uid %]
<tr>
    <td colspan="2" valign="top" class="content">
                    <!-- Заголовок -->
                    <div class="title">[% IF IS_DEVEL %][DEVELOPER] [% END %]Требуется авторизация</div>
                    <!-- Контент -->
                    <table width="100%" height="250" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr><td align="center" valign="middle">
    Для продолжения требуется авторизация на сервере!
    <form action="[% authenticate.href_login %]" method="post">
        [% IF auth_failed %]<div style="color:red; text-weight:bold;">
            [% IF auth_failed == 2 %]Необходимо указать логин
            [% ELSIF auth_failed == 3 %]Неверно указан логин или пароль
            [% ELSE %]Ошибка входа ([% auth_failed %])[% END %]
        </div>[% END %]
        <input type="hidden" name="redirect" value="[% redirect %]">
        <br />
        Логин:<br />
        <input type="text" name="login" /><br />
        Пароль:<br />
        <input type="password" name="password" /><br />
        <center><input type="submit" value=" Войти " /> </center>
    </form>
                    </td></tr>
                    </table>
                    <!-- Конец контента -->
    </td>
</tr>
[% END # authenticate.uid %]

          <!-- Белая нижняя строчка copiryghts -->
          <tr>
            <td height="20" class="footer_copy" colspan="2">
                [% IF IS_DEVEL %]
                <a href="javascript:void();"
                    onClick="document.getElementById('dpre').style.display = document.getElementById('dpre').style.display == 'none' ? 'inline' : 'none'"
                    >debug</a>
                [% END %]
                <span class="hidecopy">developing by Cliff / Time: [% SCRIPT_TIME %] ([% RUNCOUNT %])</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ver. [% version %] &copy;2011 Cliff.&nbsp;&nbsp;
            </td>
          </tr>

</table>

[% IF IS_DEVEL %]
<div id="dpre" style="display: none">
<pre>
[% PRE %]
</pre>
</div>
[% END %]


<!-- Time: [% SCRIPT_TIME %] ([% RUNCOUNT %]) -->
</body>
</html>
